.home-page {
  height: 100%;
  position: relative;

  &-header {
    width: 100%;
    padding: $sm-spacer $lg-spacer;
    font-family: $secondary-font;
    font-size: 2.5vw;
    background-image: url(../images/map.svg);
    background-size: auto 80%;
    background-position: calc(100% - #{$lg-spacer}) center;
    background-repeat: no-repeat;

    a {
      font-family: $special-font;
      vertical-align: middle;

      &::after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 1.5em;
        width: 3em;
        margin-left: .5%;
        background-image: url(../images/eyes.svg);
        background-size: auto 100%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    }

    &-byline {
      font-size: 1.6vw;
      display: inline-block;
      vertical-align: middle;
      margin-left: .5%;
    }

    &-tagline {
      font-size: 1vw;
    }
  }

  &-content {
    @extend .clearfix;
    min-height: 500px;
    padding: 0 $lg-spacer $md-spacer;
  }

  .body-suit,
  .video-feed {
    float: left;

    &-animation {
      height: 50px;
    }
  }

  .body-suit {
    width: 30%;
    padding-right: 2.5vw;

    &-directive {
      padding-bottom: 167%;
      margin-bottom: 8%;
    }
  }

  .video-feed {
    @extend .clearfix;
    width: 70%;

    &-directive,
    &-animation {
      float: left;
    }

    &-directive {
      width: calc(90% - 2.5vw);
      padding-right: 2.5vw;
      padding-bottom: 58.15%;
      margin-bottom: 3%;
    }

    &-animation {
      width: 10%;
    }

    &-thumbnails {
      clear: both;
      height: 150px;
      border: 1px solid green;
    }
  }

  @media (max-width: $min-content-width) {
    &-header {
      font-size: 24px;

      &-byline {
        font-size: 16px;
      }

      &-tagline {
        font-size: 10px;
      }
    }

    .body-suit
    .video-feed-directive {
      padding-right: 25px;
    }
  }
}

