.home-page {
  height: 100%;
  position: relative;

  h1 {
    font-family: $special-font;
    font-size: 25vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: lowercase;
  }
}
