.hud-element {
  position: relative;
  border: 1px solid white;

  &-border,
  &-directive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-border {
    background-size: cover;
  }

  &-directive {
    z-index: 1;
  }
}
