.hud-element {
  position: relative;

  &-border,
  &-directive {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &-border {
    background-size: cover;
  }

  &-directive {
    background: rgba(map-get($white, solid), .2);
    z-index: 1;
  }
}
