.intializer-page {
  font-family: $special-font;
  font-size: 15vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: lowercase;

  h1 {
    animation: rotate-y 5s infinite linear;
  }
}
