# System Files
**/.DS_Store

# Build Files
**/node_modules
**/*.map
**/*.log
/.sass-cache

# Local Files
/designs

# Server Files
.bash_history
.bash_logout
.bashrc
.cache
.npm
obj
.profile
.ssh
.viminfo
