html,
body,
.content {
  height: 100%;
}

body {
  min-width: $min-content-width;
  margin: 0 auto;
  font-size: $base-font-size;
  font-family: $font-stack;
  color: map-get($white, solid);
  background: map-get($black, solid);
  position: relative;
  box-sizing: border-box;

  * { box-sizing: inherit; }
}

a,
button {
  text-decoration: none;
  cursor: pointer;

  &,
  &:visited,
  &:hover,
  &:focus {
    background: transparent;
    color: inherit;
    border: 0;
    outline: 0;
  }
}
