<div class="home-page">
  <div class="home-page-header">
    <a id="siteID" ui-sref="dashboard">the argus project</a>
    <span class="home-page-header-byline">THE WHOLE WORLD IS WATCHING</span>
    <p class="home-page-header-tagline">Counter-surveillance Armor for the Citizen Body</p>
    <img class="home-page-header-map" src="images/map.png" apng></img>
  </div>
  <div class="home-page-content">
    <div class="body-suit">
      <hud-element
        class="body-suit-directive"
        border="'images/borders/suit.svg'"
        content-position="'
          width: 60%;
          height: 75%;
          top: 8%;
          left: 17%;
        '"
      >
        <body-suit class="body-suit-directive-object"></body-suit>
      </hud-element>
      <hud-animation class="body-suit-animation" src="'images/bottom-hud.png'"></hud-animation>
    </div>
    <div class="video-feed">
      <hud-element
        class="video-feed-directive"
        border="'images/video-feed.png'"
        cover="true"
        label="mainFeed ? (mainFeed.position + ' : ' + mainFeed.side) : 'Searching for feeds..'"
        content-position="'
          width: 92%;
          height: 92%;
          top: 4%;
          left: 4%;
        '"
      >
        <img ng-src="{{mainFeed.imageData}}">
      </hud-element>
      <hud-element
        class="video-feed-thumbnails"
        border="'images/thumbnails.png'"
        content-position="'
          width: 85%;
          height: 50%;
          top: 25%;
          left: 1%;
        '"
      >
        <div class="thumbnails">
          <div class="thumbnails-track">
            <hud-element
              cover="true"
              class="thumbnails-item"
              border="'images/borders/thumbnail.png'"
              ng-repeat="cam in cams"
              ng-click="viewFeed(cam.id)"
              content-position="'
                width: 94%;
                height: 86%;
                top: 5%;
                left: 2%;
              '">
              <button class="thumbnails-item-image">
              <img ng-src="{{cam.imageData}}"></button>
            </hud-element>
          </div>
        </div>
      </hud-element>
    </div>
  </div>
</div>
